---
import Character from "../components/Character.astro";
import Layout from "../layouts/Layout.astro";
import { CoreValues } from "../components/CoreValues";
import LogoFull from "../components/LogoFull.astro";
import { Button } from "../components/Button";
import Bento from "../components/Bento.astro";
import TeamMembers from "../components/TeamMembers.astro";

import coupon from "../assets/Coupon Input.png";
import credits from "../assets/Rappi Credits.png";
import toast from "../assets/Toast.png";
---

<Layout title="Yummy Design System">
	<section
		class="flex flex-col justify-center items-center gap-4 text-white bg-gradient-to-tr from-[#FF787B] to-[#EAA643] min-h-[80dvh] relative overflow-hidden"
	>
		<h1 class="text-6xl font-bold text-center max-w-4xl">
			Empower Your Chances To Get Tasty With Yummy
		</h1>
		<p>The new Rappi design system</p>
		<span class="flex items-center gap-4">
			<Button href="https://zeroheight.com/8b8b45d30"
				>Go To Library</Button
			>
			<Button type="secundary" href="https://zeroheight.com/8b8b45d30"
				>See Docs</Button
			>
		</span>

		<picture class="absolute left-10 bottom-0 rotate-12 w-[300px] z-10">
			<img src={coupon.src} alt="" />
		</picture>

		<picture class="absolute right-10 top-20 -rotate-12 w-[300px] z-10">
			<img src={credits.src} alt="" />
		</picture>

		<picture class="absolute left-10 top-32 rotate-3 w-[250px] z-10">
			<img src={toast.src} alt="" />
		</picture>

		<span class="absolute -right-10 bottom-4 -scale-x-100 z-10">
			<Character />
		</span>

		<img class="absolute -right-16 bottom-0" src="pattern1.png" alt="" />
		<img
			class="absolute -left-10 w-[400px] h-auto"
			src="pattern2.png"
			alt=""
		/>
	</section>

	<section class="-mt-[180px] z-20 px-[64px]">
		<CoreValues />
	</section>

	<section class="px-[64px] overflow-hidden">
		<h2 class="font-bold text-6xl">Discover</h2>
		<Bento />
	</section>

	<section class="px-[64px] overflow-hidden">
		<h2 class="font-bold text-6xl">Typography</h2>

		<article class="flex items-center justify-center gap-72">
			<div class="relative">
				<p class="text-[20rem] opacity-10">Aa</p>
				<p class="absolute top-56 right-0 text-[4rem]">Poppins</p>
			</div>

			<div class="grid grid-cols-[230px_230px]">
				<span class="flex flex-col gap-4">
					<p class="text-[28px]">Heading 1</p>
					<p class="text-[24px]">Heading 2</p>
					<p class="text-[20px]">Heading 3</p>
					<p class="text-[18px]">Lead Text</p>
					<p class="text-[14px]">Base</p>
					<p class="text-[11px]">Caption</p>
				</span>
				<span class="flex flex-col gap-4">
					<p class="text-[28px]">28px</p>
					<p class="text-[24px]">24px</p>
					<p class="text-[20px]">20px</p>
					<p class="text-[18px]">18px</p>
					<p class="text-[14px]">14px</p>
					<p class="text-[11px]">11px</p>
				</span>
			</div>
		</article>
	</section>

	<section class="px-[64px] bg-green py-12 relative">
		<h2 class="font-bold text-6xl">Icons</h2>

		<div class="mt-12 relative">
			<img src="Icons.png" class="w-full h-auto" alt="" />
			<strong class="absolute right-24 top-24 text-6xl text-blue"
				>Around 39 Icons</strong
			>
		</div>

		<span class="absolute left-10 -top-56">
			<Character />
		</span>
	</section>

	<section class="px-[64px] relative">
		<h2 class="font-bold text-6xl text-center">Components</h2>

		<article class="flex justify-center gap-24 items-center mt-12">
			<img class="w-auto h-[500px]" src="components.png" alt="" />

			<div class="text-xl max-w-md flex flex-col gap-10">
				<p class="font-bold">
					About 92 components for your designs segmented in:
				</p>

				<ul class="flex flex-col gap-2 list-disc pl-6">
					<li>Buttons</li>
					<li>Inputs</li>
					<li>Cards</li>
					<li>Helpers</li>
					<li>Navigation</li>
					<li>Common Layouts</li>
				</ul>
				<span>
					<Button href="">Go To Library</Button>
				</span>
			</div>
		</article>
	</section>

	<section class="relative px-[64px]">
		<TeamMembers />
	</section>

	<section
		class="px-[64px] flex items-center py-16 flex-col gap-4 bg-[#F8F8FA] text-center"
	>
		<LogoFull />
		<strong class="font-medium text-4xl">And Much More To Discover</strong>
		<span class="flex items-center gap-4">
			<Button href="https://zeroheight.com/8b8b45d30"
				>Go To Library</Button
			>
			<Button type="secundary" href="https://zeroheight.com/8b8b45d30"
				>See Docs</Button
			>
		</span>
	</section>
</Layout>
