---
import LogoFull from "./LogoFull.astro";
---

<footer class="py-12 border-t px-[64px]">
    <article class="flex items-center justify-between">
        <div>
            <LogoFull/>
            <p>Design System</p>
        </div>

        <form class="flex flex-col gap-4">
            <strong>Wanna Talk?</strong>
            <p>Submit your email to get in touch</p>
            <span class="flex gap-2">
                <button class="rounded-md bg-[#D6D9DE] px-4 py-2">Submit</button>
                <input class="rounded-md bg-[#EDEFF3] px-4 py-2" type="text">
            </span>
        </form>
    </article>

    <p class="text-center mt-12 opacity-40">This project was created solely for academic purposes by students of Universidad ICESI. It is important to clarify that no profit is intended to be made from the use of the Rappi brand, nor is the brand being used for any commercial benefit. We do not claim any ownership, affiliation, or direct relationship with the original Rappi brand. This project is purely an academic exploration and serves as an exercise for educational purposes only. The use of the Rappi brand is intended exclusively for the purpose of learning and does not imply any endorsement or partnership with the brand in question.</p>
</footer>